* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .flex-box {
    display: flex;
  }
  
  body {
    font-family: sans-serif;
    justify-content: center;
    background-color: #453F78;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .wrapper {
    height: 720px;
    width: 480px;
  
    justify-content: center;
    align-items: center;
  }
  
  .reset-box {
    background-image: url("../images/background.jpg");
    background-size: cover;
    box-shadow: 0 0 10px black;
    height: 270px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #reset-header {
    height: 20%;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
  }
  
  h1 {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 35px;
  }
  
  #user-input {
    flex-direction: column;
    height: 65%;
    margin: 0 5%;
  }
  
  #user-input ul {
    flex-direction: column;
    width: 100%;
    height: 95%;
    list-style: none;
    justify-content: space-evenly;
  }
  
  #user-input ul li {
    flex-direction: column;
    margin: -25px 0;
  }
  
  #email{
    text-decoration: none;
    border: none;
    width: 100%;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    background-color: gainsboro;
    transition: 0.5s;
  }
  
  #email:focus{
    outline: none;
    background-color: #ffd048;
  }
  
  h2 {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 2px;
  }
  
  h3 {
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
  }
  #login-button {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
  }
  
  #submit-button {
    width: 240px;
    height: 35px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin-left: 23%;
    font-weight: 600;
    background-color: #ffffff;
    transition: 0.5s;
  }
  
  #submit-button:hover {
    background-color: aquamarine;
    width: 250px;
    height: 35px;
    border: 1px solid black;
    font-size: 18px;
  }

  .email_error {
    margin-top: 4px;
    font-size: 14px;
    color: darkred;
  }
  
  @media only screen and (max-width: 768px) {
    .reset-box {
      height: 480px;
      width: 90%;
    }
  
    #reset-button {
      margin: 0 10%;
      text-align: center;
    }
  }